* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
    background-color: black;
}



[class*="col-"] {
    height: 100%;
    /* background-color: red; */
    /* border: 1px solid blue; */
    animation: gameovercolor 3s infinite;
}

@keyframes gameovercolor {
    0% {background-color: #9aff6b; }
    25% {background-color: #6bccff;}
    50% {background-color: #d76bff;}
    75% {background-color: #eef96f;}
    100% {background-color: #9aff6b;}
}

.space-color {
    background-color: black;
    animation: bordercolor 3s infinite;
}

@keyframes bordercolor {
    0% {background-color: black }
    25% {background-color: black}
    50% {background-color: black}
    75% {background-color: black}
    100% {background-color: black}
}

.first-row > [class*="col-"],
.fifth-row > [class*="col-"]  {
    height: 80px;
}

.second-row > [class*="col-"],
.third-row > [class*="col-"],
.fourth-row > [class*="col-"] {
    height: 60px;
}

#game {
    margin-bottom: 80px;
}
