* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
}

[class*="col-"] {
    height: 100%;
    background-color: rebeccapurple;
}

.first-row > [class*="col-"],
.fifth-row > [class*="col-"]  {
    height: 80px;
}

.second-row > [class*="col-"],
.third-row > [class*="col-"],
.fourth-row > [class*="col-"] {
    height: 60px;
}

#game {
    margin-bottom: 80px;
}

.space-color {
    background-color: #fff;
}
